/* CLASSI COMUNI E CLASSI UTILITY */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    overflow-y: scroll; /* lo metto per mimare il sito originale, che, avendo del contentuto, ha sempre la scrollbar verticale attiva */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 0 50px;
    box-shadow: 0 0 19px -5px lightgrey;
}

.active {
    font-weight: 600;
    color: rgb(53, 52, 52);
}

.focus {
    color: rgb(53, 52, 52) !important;
}

.soon {
    color:  #bfc5cc;
    position: relative;
}

.soon::after {
    content: "coming soon";
    color: #337DEE;
    text-transform: uppercase;
    font-size: 9px;
    position: absolute;
    width: 90px;
    top: -15px;
    right: -68px;
}

nav ul {
    list-style: none;
}

nav ul li {
    color:rgb(146, 146, 146);
}

nav ul li.dropdown-inside {
    position: relative; /* per posizionare dropdown-menu */
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}


/* STILE */
nav {
    min-width: 1150px;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100px;
}

nav ul.outer {
    display: flex;
    justify-content: space-between;
}

/* _left-menu */
nav ul.left-menu {
    flex-basis: 25%;
}

nav ul.left-menu .logo img {
    width: 20px;
    vertical-align: middle;
    line-height: 100px;
}

/* _right-menu */
nav ul.right-menu {
    flex-basis: 55%;
}

nav ul.outer> li {
    /* flex: 1; */
    text-align: center;
    line-height: 100px;
    padding: 0 6px;
    /* vertical-align: middle; */
}

nav ul.right-menu li span {
    padding: 10px;
}

nav ul li span:hover, nav ul li a:hover, button:hover, .logo:hover {
    cursor: pointer;
}

nav .right-menu button {
    padding: 10px 19px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

nav .right-menu button.sign-in {
    color: rgb(53, 52, 52);
    background-color: #ebecec;
}

nav .right-menu button.get-app {
    color: white;
    background-color: rgb(53, 52, 52);
}

/* _dropdown-menu */
nav ul.right-menu ul.dropdown-menu {
    display: none;
    box-shadow: 0 0 5px -1px lightgrey;
    border-radius: 10px;
    position: absolute;
    top: 80%;
    background-color: white;
    line-height: normal;
    width: 215px;
    text-align: left;
}

nav ul.right-menu .dropdown-menu li {
    padding: 20px 10px; 
}

/* _features */
nav ul.right-menu .dropdown-menu.features {
    display: none;
    width: 900px;
    left: -160px;
    clear: both;
}

nav ul.right-menu .dropdown-menu.features li {
    width: 225px;
    float: left;
}

nav ul.right-menu .dropdown-menu.features li .section-img-container {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #cfd5db;
    padding: 5px;
}

nav ul.right-menu .dropdown-menu.features li .section-img-container img.section-img {
    width: 100%;
    vertical-align: middle;
    filter: invert(); /* mi serviva l'immagine bianca */
}

nav ul.right-menu .dropdown-menu.features li span.section-title {
    text-transform: uppercase;
    font-size: 14px;
    color:  #cfd5db;
}

nav ul.right-menu .dropdown-menu.features li a {
    text-transform: capitalize;
}
/* _/features */
/* _/dropdown-menu */
